version: 2.1
orbs:
  aws-cli: circleci/aws-cli@2.0
jobs:
  build_deploy:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run:
          name: Installing AWS CLI
          command: sudo apt install python3
      - run: cd ./front && npm install && npm run build
      - run: aws s3 sync ./back s3://circleci-123
workflows:
  version: 2
  execute_bulk:
    jobs:
      - build_deploy
