version: 2.1
orbs:
  aws-cli: circleci/aws-cli@2.0
jobs:
  aws-cli-example:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup:
          profile-name: example
      - run: echo "Run your code here"
  build_deploy:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run: cd ./back  && npm install && npm start
      - run: cd ./front && npm install && npm run build
      - run: aws s3 sync ./back s3://circleci-123
workflows:
  version: 2
  execute_bulk:
    jobs:
      - aws-cli-example
      - build_deploy
